@layer primevue {

	.p-button {
		height: fit-content;
	}

	.p-tabmenu-nav {
		background: transparent;
	}

	.p-menuitem-link {
		background: transparent;
	}

	.p-menubar .p-menuitem {
		margin: 0;
	}

	.p-breadcrumb {
		background: transparent;
	}

	.p-dropdown .p-dropdown-label {
		line-height: 17px;
	}

	.p-multiselect .p-multiselect-label {
		line-height: 17px;
	}

	.p-card .p-card-body {
		height: 100%;
	}

	.p-card .p-card-footer {
		margin-top: auto;
	}

}
